.dashboard-section{
  width: 100%;
  flex: 1 1 0%;
  min-width: 0;
  left: $sidebar-width;
  padding: 30px;

  h1{
    font-weight: 500;
    font-size: 3rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $neutral-800;
  }


  .dashboard-card{
    background: white;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 1rem;
    border-radius: 10px;
    box-sizing: border-box;


    width: 100%;
    margin-bottom: 1rem;

    &.table{
      height: 800px;
    }
  }
}
